html,
body{
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D7D7D7;
}

#count_down_container{
    width: 250px;
    height: 250px;
    border-radius: 13px;
    background-color: #4A4646;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer_ring{
    width: 170px;
    height: 170px;
    background-color: transparent;
    border-radius: 105px;
    border: 15px solid #5E5E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#outer_ring h1:hover{
    cursor: default;
}

#outer_ring img{
    max-width: 20px;
    height: auto;
}

#outer_ring img:hover{
    cursor: pointer;
}