html,
body{
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D7D7D7;
    flex-direction: column;
    overflow-x: hidden;
}

#count_down_container{
    width: 20vw;
    height: 20vw;
    border-radius: 13px;
    background-color: #4A4646;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer_ring{
    width: 170px;
    height: 170px;
    background-color: transparent;
    border-radius: 105px;
    border: 15px solid #5E5E5E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#outer_ring h1:hover{
    cursor: default;
}

#outer_ring img{
    max-width: 20px;
    height: auto;
}

#outer_ring img:hover{
    cursor: pointer;
}

#animation{
    height: 200px;
    width: 250px;
    /* border-radius: 50% */
    background-color: transparent;
    position: absolute;
}

#animation.one {
    background-image: url("cloud.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 20s linear infinite;
}

#animation.two {
    background-image: url("dark_cloud.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 20s linear infinite;
}

#animation.three {
    background-image: url("rainy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 20s linear infinite;
}

#animation.four{
    background-image: url("cloud.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: move 20s linear infinite;
}


@keyframes move {
    0%{
        margin-left: 0;
        left: 0;
        top: 10vh;
    }

    100%{
        top: 10vh;
        left: 100vw;
    }
}